<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantan Plays</title>

    <link href="style.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"
        integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="app.js" defer></script>
</head>

<body>
    <canvas ref="star_canvas" id="star-canvas"></canvas>
    <img src="banner.png" id="banner" />

    <div class="filter">
        <input type="text" v-model="search" placeholder="Search..." />

        <select v-model="platform">
            <option value="">All Platforms</option>
            <option v-for="plat in platforms" :value="plat">{{ plat }}</option>
        </select>

        <select v-model="year">
            <option value="">All Years</option>
            <option v-for="year in years" :value="year">{{ year }}</option>
        </select>
    </div>

    <div class="grid" v-if="Object.keys(igdb).length > 0">
        <template v-for="(row, index) in parsedCSV">
            <div class="image" v-if="row[0].toLowerCase().includes(search.toLowerCase()) && (row[3] === platform || platform === '') && (new Date(row[1]).getFullYear() === year || year === '')">
                <img :src="igdb[row[4]].cover_url" @click="select_game(row, igdb[row[4]].cover_big_url);" />
                <div class="image_text">{{ row[0] }}</div>
            </div>
        </template>
    </div>

    <div class="overlay" :class="{ overlay_active: showOverlay }" @click="showOverlay = false;"></div>
    <div class="game_dialog" :class="{ game_dialog_active: showOverlay }">
        <img :src="selected_game_image" id="game_dialog_img" />
        <div class="game_dialog_info">
            <span><b>Title: </b>{{ selected_game_row[0] }}</span>
            <span v-if="selected_game_row[1]"><b>Date: </b>{{ selected_game_row[1] }}</span>
            <span v-if="selected_game_row[2]"><b>Comment: </b>{{ selected_game_row[2] }}</span>
            <span><b>Platform: </b>{{ selected_game_row[3] }}</span>
        </div>
    </div>
</body>

</html>