@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

* {
    transition: 0.2s;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #060613;
    --stripe-color: #141b1e67;
    --banner-height: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: antiquewhite;
    font-family: "Bitcount Grid Double", system-ui;
    font-size: 20px;

    min-height: 100vh;
    background-color: var(--bg-color);
    background-image: linear-gradient(to bottom, var(--bg-color), var(--bg-color) var(--banner-height), transparent calc(var(--banner-height) + 150px)),
        repeating-linear-gradient(45deg, transparent, transparent 8px, var(--stripe-color) 8px, var(--stripe-color) 12px);
}

canvas {
    height: var(--banner-height);
    width: 100%;
    transition: 0.0s;
}

#banner {
    position: absolute;
    width: 50vw;
    max-width: 1000px;
    transition: 0.0s;
}

.filter {
    display: flex;
    width: 50vw;
    justify-content: center;
    padding-bottom: 5vh;
    gap: 2vw;
}

input,
select {
    height: 4vh;
    min-height: 45px;
    width: 20vw;
    max-width: 220px;
    border-radius: 12px;

    color: antiquewhite;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 20px -18px;

    font-size: 1rem;
    font-family: "Bitcount Grid Double", system-ui;
    text-align: center;
}

option {
    font-family: monospace;
}

.grid {
    display: grid;
    width: 75vw;
    max-width: 1400px;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.image {
    border-radius: 25px;
    aspect-ratio: 1 / 1.32;
    overflow: hidden;
    container-type: size;
    position: relative;
    cursor: cell;
    box-shadow: -2px -2px 5 rgba(0, 0, 0, 0.4), 5px 5px 5 rgba(0, 0, 0, 0.5);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(100%);
}

.image img:hover {
    filter: brightness(25%);
}

.image:hover .image_text {
    opacity: 100%;
}

.image_text {
    opacity: 0%;
    position: absolute;
    text-align: center;
    width: 90%;
    font-size: 10cqw;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.overlay_active {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.game_dialog {
    display: flex;
    position: fixed;
    transform: translate(-50%, 0);
    top: 100%;
    left: 50%;
    width: 40vw;
    aspect-ratio: 2;
    background-color: var(--bg-color);
    border-radius: 25px;
    container-type: size;
    overflow: hidden;
}

.game_dialog:hover {
    background-color: color-mix(in srgb, var(--bg-color) 97%, white 3%);
}

.game_dialog_active {
    top: 50%;
    transform: translate(-50%, -50%);
}

.game_dialog_info {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 3cqw;
    color: gold;
    text-shadow: 3px 3px 3 black;
}

#game_dialog_img {
    height: 100%;
    object-fit: contain;
}